@use 'common.scss';
@use 'style.scss';

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > :last-child {
  margin: 5%;
}

.home-container {
    height: 100%;
    align-items: initial;
    padding: 1% 0;
  }

  /* body.no-scroll {
    overflow: hidden;
  } */

  @keyframes moveDown {
    0% {
      transform: translateY(10%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes moveDown-o {
    0% {
      transform: translateY(20%);
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      transform: translateY(0);

    }
  } 

  @keyframes moveDown2 {
    0% {
      transform: translateY(5%);
    }
    100% {
      transform: translateY(0);
    }
  }


.overlay {
  // @include common.background-settings(var(--dark-blue), var(--baby-blue));
  // @include common.background-settings(#06070d, #4f5172);
  position: absolute;    
  top: 0;
  left: 0;
  width: 100vw;          
  // height: 100%; 
  display: none; 
  overflow: auto;
  z-index: 10;
  // animation: moveDown 1s ease-in-out;

  &--active {
    display: flex;
  }

  &__content {
    @include common.background-settings(#06070d, #4f5172);
    width: 100%;
    // height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    position: relative;
    gap: 5%;
    border: solid 2.5px white;
    border-radius: 10px;
    margin: 1%;

    p {
      grid-column: 1;
      width: 50ch;
      padding-bottom: 2vw;
        }

    .ex {
      grid-column: 2;
      grid-row: 1;
      width: 50%;
      margin: 5% 0;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      border-radius: 10px;
      // animation: moveDown2 1s ease-in-out;
    }
  }

  &__text {
    grid-column: 1;
    grid-row: 1;
    padding: 5% 0;
    justify-self: end;
  }
}

.button {
  color: var(--pink);
  border: var(--pink) solid 2.5px;
  border-radius: 25px;
  padding: 2%;
  font-weight: bold;
  // background-color: transparent;
  background-color: rgba(215, 25, 136, 0.1);
}

.button--exit {
  width: 2vw;
  height: 2vw;
  /* grid-column: 2; */
  /* grid-row: 1; */
  position: absolute;
  top: 2%;
  /* padding: 2%; */
  right: 2%;
  background: none;
  border: none;
}
  
.container {
    height: 100%;
}

.testblock {
    width: 62vw;
    // @include common.background-settings(var(--white), var(--white));
    height: 100%;
    margin: 5% 0 0;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: white solid 2.5px;
    // border: rgb(0, 0, 0) solid 2.5px;
    animation: moveDown-o 1s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    
    img {
        width: 35vw;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        // padding: 2%;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        border-right: white solid 2.5px;
    }
}

.project-text {
    padding: 5%;
}

html, body {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
  }
  
  html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, Opera */
  }
  
p, h1, h2 {
    color: black;
    line-height: 1.5;
}

p {
  font-family: "Inter";
  font-family: "Inter";
  font-weight: 500;
  color: #cfcfcf;
}

h2 {
  font-size: 1.4rem;
  padding-bottom: 2%;
  color: var(--white);
  font-family: "Space Mono";
  font-weight: 700;
}

h3 {
  color: var(--white);
  font-size: 1.2rem;
  padding-bottom: 0.5vw;
}

.tech {
  display: flex;
  flex-direction: row;
  padding: 1vw 0 2vw;
  &__icon {
  color: var(--pink);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 5%;
  font-size: 2rem;
  }
}

/* .infotest {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.info {
width: 50ch;
} */

.info {
  padding: 5% 0;
}

