@use "common.scss";
@use "style.scss";
@use "animations.scss";

p,
h1,
h2,
h3 {
  line-height: 1.5;
  color: var(--white);
}

p {
  font-size: 1.1rem;
  font-family: "Inter";
  font-weight: 500;
  color: #cfcfcf;
}

h2 {
  font-size: 1.4rem;
  padding-bottom: 2%;
  font-family: "Space Mono";
  font-weight: 700;
}

h3 {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;

  > :last-child {
    margin-top: 5%;
  }
}

.home-container {
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: none;
  overflow: auto;
  z-index: 10;

  &--active {
    display: flex;
  }

  &__content {
    @include common.background-settings(#06070d, #4f5172);
    width: 100%;
    display: flex;
    justify-items: center;
    position: relative;
    gap: 5rem;
    border: common.$border-white;
    border-radius: 10px;
    margin: 1%;

    p {
      width: clamp(30ch, 60vw, 50ch);
      padding-bottom: 2rem;
    }
  }

  &__text {
    margin: 4rem 0 6rem 4rem;
    justify-self: center;
    flex-direction: column;
    display: flex;
  }

  &__images {
    @include common.flex-center-align(true, false);
    flex-direction: column;
    margin: 4rem;

    img {
      width: clamp(200px, calc(50% + 8vw), 550px);
      margin-bottom: 2rem;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      border-radius: 10px;
    }
  }
}

.actions {
  margin: 1.5rem 0 0.5rem 0;
  flex-wrap: wrap;
  display: flex;
  gap: 0.6rem;

  &__button {
    font-size: 1rem;
    color: var(--pink);
    border: var(--pink) solid 2.5px;
    border-radius: 25px;
    padding: 0.5rem;
    font-weight: bold;
    background-color: rgb(203, 16, 141, 0.1);
    cursor: pointer;
    white-space: nowrap;

    a {
      color: var(--pink);
      font-size: 1rem;
    }

    a:hover {
      color: var(--baby-blue);
    }

    &:hover {
      color: var(--baby-blue);
      border: var(--baby-blue) solid 2.5px;
      background-color: rgba(134, 173, 236, 0.1);
    }
  }
}

.button--exit {
  width: clamp(20px, 2vw, 60px);
  height: clamp(20px, 2vw, 60px);
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  height: 100%;
}

.article {
  // width: 62vw;
  width: clamp(400px, 65vw, 1200px);
  height: 100%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: white solid 2.5px;
  animation: moveCont 1s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  img {
    width: clamp(200px, 32.5vw, 600px);
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-right: common.$border-white;
  }
}

.project-text {
  padding: 5%;
}

.tech {
  display: flex;
  padding: 1rem 0 2rem;
  &__icon {
    color: var(--pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5%;
    span {
      font-size: 1rem;
    }
  }
}

[class^="devicon-"] {
  font-size: 2rem;
}

.info {
  padding: 5% 0;
}

@media (max-width: 1200px) {
  .article {
    width: 80vw;
    img {
      width: 40vw;
    }
  }
}

@media (max-width: 800px) {
  p {
    font-size: 14px;
  }

  .article {
    width: 70vw;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    box-sizing: border-box; 
    height: 100%;
    img {
      width: 100%;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      border-bottom-left-radius: initial;
      border-right: initial;
      border-bottom: common.$border-white;
    }
  }

  .overlay {
    &__content {
      @include common.flex-center-align(true, false);
      flex-direction: column;
      gap: 0;

      &__images img {
        margin: 4rem 0;
      }
    }

    &__text {
      margin: 4rem 0 0 0;
    }
  }

  .actions {
    margin: 1rem 0;
  }
}

@media (max-width: 400px) {
  .article {
    width: 78vw;
}
}