* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono";
  font-size: 16px;
}

nav {
  display: flex;
  padding: 1% 0;
  justify-content: center;
}

.nav__buttons {
  width: 20%;
  display: flex;
  align-items: center;
}
.nav__buttons--arrow {
  width: 2.2vw;
  margin-left: 2rem;
}
.nav__buttons--left {
  width: 2.2vw;
}
.nav__buttons--right {
  width: 3.2vw;
  padding: 0 10%;
}
.nav__buttons a {
  font-size: 0;
}

.nav__icon,
.nav__icon--home {
  display: flex;
  align-items: center;
  position: relative;
  height: 3vw;
  z-index: 2;
}
.nav__icon::after,
.nav__icon--home::after {
  content: "";
  width: 3vw;
  height: 3vw;
  position: absolute;
  left: -3%;
  top: -6%;
  transition: all ease 0.5s;
  background-color: var(--white);
  border-radius: 50%;
  padding: 6%;
  z-index: -1;
  opacity: 0;
}
.nav__icon:hover::after,
.nav__icon--home:hover::after {
  opacity: 0.2;
}

.nav__icon--home::after {
  position: absolute;
  left: -24%;
  top: -2%;
}

.icon-wrap1 {
  padding: 0 1.5vw;
}

.icon-wrap2 {
  padding: 0 1vw;
}

.arrow-down {
  width: 2vw;
}

.icon-margin-l {
  margin: 0 1.2vw;
}

.icon-margin-r {
  margin-right: 2vw;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 60%;
  padding: 0.2% 2%;
  background-color: rgba(255, 255, 255, 0.2);
  border: solid rgba(255, 255, 255, 0.2) 2px;
  border-radius: 50px/50px;
}
.menu a {
  display: block;
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.5;
}
.menu li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.menu:hover {
  border: solid var(--pink) 2px;
  background-color: rgba(255, 255, 255, 0.3);
}
.menu__dropdown {
  background-image: url(../svg/noise.svg), linear-gradient(var(--dark-blue), var(--baby-blue));
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: top left, center;
  display: none;
  position: absolute;
  z-index: 2;
  width: 102%;
  top: -5%;
  left: -1%;
  padding: 1vw 0;
  border-radius: 18px;
}

.hide {
  visibility: hidden;
  font-size: 0;
}

@keyframes moveDown {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveDownWait {
  0%, 49% {
    visibility: hidden;
  }
  50% {
    display: block;
    transform: translateY(50%); /* Start 100px above its original position */
  }
  100% {
    transform: translateY(0); /* End 100px below its original position */
  }
}
@keyframes introWait {
  0%, 80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
:root {
  --pink: #cb108d;
  --dark-blue: #2e2f58;
  --baby-blue: #86adec;
  --white: #efefef;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url(../svg/noise.svg), linear-gradient(var(--dark-blue), var(--baby-blue));
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: top left, center;
}

.home-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: var(--white);
  text-decoration: none;
}

li {
  display: block;
  font-size: 1.8rem;
  color: var(--white);
  padding: 0 2%;
  font-weight: 500;
  text-decoration: none;
}

.container {
  background-image: url(../svg/noise.svg), linear-gradient(#06070d, #4f5172);
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: top left, center;
  width: 98vw;
  height: 96%;
  color: var(--white);
  border: 2.5px solid var(--white);
  border-radius: 10px;
}

main {
  border-top: var(--white) solid 2.5px;
}

.main-grid {
  display: flex;
  width: 100%;
  height: 90%;
  position: relative;
  justify-content: center;
  padding: 0 7%;
}

.profile-pic {
  width: calc(150px + 6vw);
  border-radius: 100%;
  justify-self: center;
  border: var(--pink) solid 6.5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  animation: introWait 2s linear;
}

.intro__greeting {
  line-height: 1.5;
  white-space: nowrap;
  animation: moveDownWait 1.5s ease-in-out;
}
.intro__greeting span:nth-of-type(1) {
  font-size: clamp(2.4rem, 2vw + 1rem, 3rem);
  color: var(--white);
  margin-bottom: 1vw;
}
.intro__greeting span:nth-of-type(2) {
  font-size: clamp(3.1rem, 2vw + 1rem, 3.7rem);
  color: var(--pink);
  margin-bottom: 1vw;
}
.intro__greeting::after {
  content: "";
  display: block;
  width: 60%;
  border-top: var(--white) solid 5px;
  -o-border-image: linear-gradient(to right, var(--white), #d80b77) 1 0 0 0;
     border-image: linear-gradient(to right, var(--white), #d80b77) 1 0 0 0;
}

.intro__nav {
  width: 65%;
  animation: introWait 2s linear;
  padding-top: 2vw;
}
.intro__nav--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5%;
  white-space: nowrap;
}
.intro__nav span {
  font-size: 1.4rem;
  display: flex;
  width: 32ch;
  font-family: "Space Mono";
}

.projects-link {
  font-size: clamp(1.3rem, 1rem + 2vw, 1.9rem);
  line-height: 0.6;
  display: flex;
  align-items: start;
  color: var(--baby-blue);
  font-family: "Space Mono";
}
.projects-link:hover {
  opacity: 0.6;
}

.hello_to_you {
  line-height: 1;
  font-size: clamp(2.6rem, 2vw + 1rem, 3.2rem);
  font-weight: bold;
  color: #adabb7;
  animation: moveDown 1s ease-in-out;
  margin-top: 2vw;
}

.plus {
  font-size: 2rem;
  margin: 2vw;
  opacity: 0.2;
  position: absolute;
  left: 0;
  top: 0;
}

.about-me {
  margin-top: 1vw;
  color: var(--baby-blue);
  border: solid var(--baby-blue) 2px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  animation: introWait 2s linear;
}
.about-me p {
  font-size: clamp(0.8rem, 10px + 1vw, 1.1rem);
  padding: 3%;
  width: calc(37ch + 2vw);
  overflow: auto;
}

.socials {
  display: none;
  gap: 5%;
  padding: 5% 0;
}
.socials img {
  width: 5vw;
}

.flex-ya {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-left {
  align-items: center;
  width: 40%;
}

.flex-right {
  width: 60%;
  padding-top: 7%;
}

@media (min-width: 2000px) {
  :root {
    font-size: clamp(18px, 10px + 2vw, 30px); /* Adjust as needed */
  }
  .container {
    width: 80vw;
  }
  .flex-left {
    margin-right: 2vw;
  }
}
@media (max-width: 1000px) {
  :root {
    font-size: 10px;
  }
}
@media (max-width: 640px) {
  nav {
    padding: 2.5% 0;
  }
  .container {
    width: 98%;
  }
  .nav--hide,
  .nav__buttons--arrow {
    display: none;
  }
  .nav__buttons {
    width: 10%;
  }
  .nav__buttons--left {
    width: 5vw;
    padding: 0 5%;
  }
  .main-grid {
    flex-flow: column-reverse;
  }
  .flex-left {
    align-self: center;
  }
  .profile-pic {
    margin: 5% 0;
  }
  .socials {
    display: flex;
  }
  .intro__nav--top {
    padding: 10% 0;
  }
  .intro__nav span {
    display: none;
  }
  .menu {
    width: 80%;
  }
  .flex-right {
    padding-top: 0;
  }
  .intro__greeting::after {
    width: 20rem;
  }
}
@media (max-width: 350px) {
  .main-grid {
    gap: 5vw;
    padding: 0 7%;
  }
}/*# sourceMappingURL=style.css.map */