@font-face {
  font-family: "Wiskind";
  src: url("OpenType-TT/Wiskind.ttf"), format("ttf");
}
:root {
  --pink: #cb108d;
  --dark-blue: #2e2f58;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono";
  font-size: 16px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("noise.svg"), linear-gradient(var(--dark-blue), #86adec);
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: top left, center;
}

.box {
  width: 98vw;
  height: 98%;
  background-color: black;
  color: white;
  border: 2.5px solid white;
  border-radius: 10px;
  background-image: url("noise.svg"), linear-gradient(#06070d, #4f5172);
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: top left, center;
}

.menu {
  position: relative;
  border: solid rgba(255, 255, 255, 0.2) 2px;
  width: 60%;
  display: flex;
  justify-content: space-between; /* Centers the grid within the container */
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px/50px;
  padding: 0 2%;
}
.menu:hover {
  border: solid var(--pink) 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.dropdown__button {
  background: none;
  border: none;
  padding: 0;
}

.dropdown__content {
  display: none;
  position: absolute;
  background-color: var(--dark-blue);
  width: 80%;
  top: 0;
  left: 0;
  border-radius: 50px/50px;
}

nav {
  padding: 1% 0;
  width: 95vw;
  border-radius: 10px;
  display: flex;
  justify-content: space-between; /* Distributes space between items */
  align-items: center;
}

/* nav::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    background-color: black;
} */
main {
  height: 90%;
}
main::before {
  content: "";
  display: block;
  width: 97.8vw;
  padding: 0;
  border-top: white solid 2.5px;
}

a {
  display: inline-block;
  padding: 0 2%;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

li {
  display: block;
  padding: 0 2%;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.container {
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  width: 100%;
  height: 100%; /* Ensure the grid takes up the full height of the .box */
  position: relative;
}

.grid-item {
  display: grid;
  grid-column: 3;
  grid-row: 8;
  width: 50%;
}

.grid-item2 {
  align-self: center;
  font-size: 2rem;
  font-family: "Wiskind";
  color: white;
  margin-top: 2%;
}

.info {
  grid-column: 3;
  grid-row: 5;
  font-size: 2.5rem;
  color: #adabb7;
  line-height: 0.7;
  align-self: end;
}
.info--2 {
  grid-column: 3;
  grid-row: 7;
  line-height: 1.5;
  align-self: end;
}
.info--2 h1 {
  font-size: 3.2rem;
  width: 16ch;
}

.name::after {
  content: "";
  display: block;
  width: 100%;
  border-top: white solid 5px;
  -o-border-image: linear-gradient(to right, white, #d80b77) 1 0 0 0;
     border-image: linear-gradient(to right, white, #d80b77) 1 0 0 0;
}

.info-box {
  grid-column: 2;
  grid-row: 4;
  font-size: 1.5rem;
  font-family: "Mulish";
}

.intro__name {
  font-size: 3.7rem;
  color: var(--pink);
}

.profile {
  grid-column: 9;
  grid-row: 7;
  width: 45%;
  border-radius: 100%;
  justify-self: center;
  border: var(--pink) solid 6.5px;
  margin-bottom: 0vw;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.slide {
  position: absolute;
  color: white;
  bottom: 4px;
  right: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotated-text {
  position: absolute;
  left: 20px; /* Adjust as needed for alignment */
  top: 20px; /* Adjust as needed for alignment */
  transform: rotate(-45deg); /* Rotate text diagonally */
  transform-origin: left top; /* Set rotation point to the top-left corner */
  white-space: nowrap; /* Prevent text from wrapping */
}

.flower {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__arrows {
  width: 2.5vw;
  margin-left: 2rem;
}

.nav__buttons--left, .nav__buttons--right {
  width: 20%;
}

.line {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  margin: 2vw;
  opacity: 0.2;
  position: absolute;
  font-size: 2rem;
}

.loading-icon {
  width: 15%;
  padding-left: 1vw;
}

.note {
  display: grid;
  width: 100%;
  height: 100%;
  grid-row: 8;
  grid-column: 9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  border: solid #86adec 2px;
  margin-top: 1vw;
}
.note p {
  padding: 3%;
  overflow: auto;
  font-size: 1.2rem;
  width: 40ch;
  color: #86adec;
}

.front__nav {
  font-size: 1.9rem;
  line-height: 0.6;
  display: flex;
  align-items: start;
  color: #86adec;
}

.front__nav--span {
  font-size: 1.4rem;
  display: flex;
  align-items: end;
  width: 32ch;
}

footer {
  padding: 1%;
  font-size: 0.5rem;
}

.navi {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navi2 {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.arrow--down {
  width: 2vw;
}/*# sourceMappingURL=style.css.map */