@use "common.scss";
@use "animations.scss";

* {
	box-sizing: border-box;
}

body {
	@include common.background-settings(var(--dark-blue), var(--baby-blue));
	display: flex;
	justify-content: center;
	padding: 1vw 0
}

.home-container {
	@include common.flex-center-align(true, true);
	min-height: 100vh;
	height: 100%;
	padding: 1% 0;
}

a {
	color: var(--white);
	text-decoration: none;
}

li {
	display: block;
	font-size: 1.4rem;
	color: var(--white);
	padding: 0 2%;
	font-weight: 500;
	text-decoration: none;
}

.container {
	@include common.background-settings(#06070d, #4f5172);
	width: 98vw;
	color: var(--white);
	border: common.$border-white;
	border-radius: common.$border-radius-default;
	height: 100%;
}

header {
	position: sticky;
	top: 0;
	@include common.background-settings(#06070d, #4f5172);
	border: white;
	z-index: 1000;
	border-radius: common.$border-radius-default;
}

.main-grid {
	@include common.flex-center-align(false, true);
	position: relative;
	flex-direction: column;
	margin-right: clamp(20px, 4vw, 100px);
	margin-left: clamp(20px, 4vw, 100px);
}

.profile-pic {
	width: calc(125px + 6vw + 1vh);
	border-radius: 100%;
	justify-self: center;
	border: var(--pink) solid 6.5px;
	box-shadow: common.$shadow-default;
	animation: introWait 2s linear;
}

.intro {
	&__greeting {
		line-height: 1.5;
		white-space: nowrap;
		animation: appearUp 1.5s ease-in-out;

		span:nth-of-type(1) {
			font-size: clamp(2.3rem, 2vw + 1rem, 3rem);
			color: var(--white);
			margin-bottom: 1vw;
		}

		span:nth-of-type(2) {
			font-size: clamp(3rem, 2vw + 1rem, 3.7rem);
			color: var(--pink);
			margin-bottom: 1vw;
		}

		&::after {
			content: "";
			display: block;
			width: clamp(24rem, 20rem + 6vw, 30rem);
			border-top: var(--white) solid 5px;
			border-image: linear-gradient(to right, var(--white), var(--pink)) 1 0 0 0;
		}
	}
}

.intro__nav {
	width: 65%;
	animation: introWait 2s linear;
	padding-top: 1.5rem;

	&--top {
		@include common.flex-center-align(true, false);
		justify-content: space-between;
		padding-top: 5%;
		white-space: nowrap;
		line-height: 0.6;
	}

	span {
		font-size: 1.4rem;
		display: flex;
		width: 32ch;
		font-family: "Space Mono";
	}
}

.hello_to_you {
	line-height: 1;
	font-size: clamp(2.5rem, 2vw + 1rem, 3.2rem);
	font-weight: bold;
	color: var(--light-grey);
	animation: moveDown 1s ease-in-out;
}

.about-me {
	margin-top: 1vw;
	color: var(--baby-blue);
	border: solid var(--baby-blue) 2px;
	border-radius: common.$border-radius-default;
	box-shadow: common.$shadow-default;
	animation: introWait 2s linear;

	p {
		padding: 3%;
	}

	p,
	&__highlight {
		font-size: clamp(0.8rem, 10px + 1vw, 1.1rem);
		font-family: "Roboto Mono";
	}

	&__highlight {
		font-weight: bold
	}
}

.main-cont {
	@include common.flex-center-align(false, true);
	flex-direction: column;

	&--left {
		width: 60%;
	}

	&--right {
		align-items: center;
		width: 40%;
	}
}

.socials {
	display: none;
	gap: 6.5%;
	animation: introWait 2s linear;

	img {
		width: 25px;
	}
}

.profile {
	display: flex;
	margin: 6vw 0;
}

.menu {
	&__links {
		&--active {
			color: var(--pink);
			text-decoration: none;
		}
	}
}

@media (min-width: 1920px) {
	:root {
		font-size: 24px;
	}

	html {
		margin: 0 auto;
	}

	.home-container {
		height: 1200px;
	}

	.nav-buttons--right {
		width: 200px;
	}

	.main-cont--right {
		margin-right: 40px;
	}

	.profile-pic {
		width: 350px;
	}
}

@media (max-width: 1200px) {
	:root {
		font-size: 15px;
	}
}

@media (max-width: 900px) {
	:root {
		font-size: 14px;
	}
}

@media (max-width: 1000px) and (orientation: landscape) {
	:root {
		font-size: 12px;
	}

	.profile-pic {
		width: calc(145px - 2vw);
	}
}

@media (max-width: 750px) {
	nav {
		padding: 2.5% 0;
	}

	.container {
		width: 100%;
	}

	.nav {
		&__buttons {
			width: 10%;
			font-size: 0;

			&-size {
				width: calc(12px + 2vw);
				height: calc(12px + 2vw);
			}
		}
	}

	.nav--hide,
	.nav__buttons--arrow {
		display: none;
	}

	.intro {
		flex-flow: column;
		gap: 4%;
	}

	.main-cont--right {
		align-self: center;
	}

	.profile-pic {
		margin-bottom: 10%;
	}

	.socials {
		display: flex;
		padding-top: 2rem;
	}

	.intro__nav {
		&--top {
			padding: 5% 0 12% 0;
			line-height: 1;
		}

		span {
			display: none;
		}
	}

	.menu {
		width: 80%;

		&__dropdown {
			width: 104%;
			left: -2%;
		}
	}

	li {
		font-size: 2rem;
	}
}

@media (max-width: 675px) {
	.main-cont--right {
		width: 80%;
	}
}

@media (max-width: 350px) {
	.main-grid {
		gap: 5vw;
	}
}